body {
  font-family: 'Montserrat', sans-serif;
  width: 800px;
  height: 500px;
  background-color: rgb(255, 219, 255);
  margin: auto;
}

#container {
  display: flex;
  flex-wrap: wrap;
  color: rgb(72, 72, 72)
}

img {
  width: 800px;
}

header {
  justify-content: center;
}

#maincolumn {
  display: flex;
}

#maincontent {
  display: flex; 
  flex-direction: column; 
  width: 600px;
}

a:hover {
  color: rgb(254, 70, 165);
}

#about {
  width: 190px;
  justify-content: center;
  background-color: white;
  margin-left: 10px;
}

h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#add-new {
  text-align: center;
}

.newPostDiv {
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 0 0 10px 0;
  padding: 10px; 
  border: 8px solid white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

.arrow-column {
  width: 30px;
  height: 40px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.upbutton {
  background-image: url('upvote.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  height: 40px;
  width: 40px;
  padding: 15px;
}

.downbutton {
  background-image: url('downvote.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  height: 40px;
  width: 40px;
  padding: 15px;
}

#post-column {
  width: 80%;
  align-content: center;
  justify-content: center;
}

.edit-posts {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  padding-top: 10px;
  height: 70px;
}

#about p {
  margin: 5px 0 15px 5px;
  padding: 5px;
  font-size: 13px;
}

#about h2 {
  margin: 10px 0 0 0;
}

#newpostbutton {
  background: rgb(247, 153, 202);
  height: 40px;
  width: 120px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.remove-div {
  margin-right: 5px;

}


