body {
  font-family: 'Lato', sans-serif;
  width: 800px;
  height: 500px;
  background-color: lightgray;
  margin: auto;
}

#container {
  display: flex;
  flex-wrap: wrap;
  color: rgb(91, 91, 91)
}

header {
  justify-content: center;
}

#maincontent {
  display: flex; 
  flex-direction: column; 
  width: 800px;
}

.newPostDiv {
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 0 0 10px 0;
  padding: 10px; 
}

.arrow-column {
  width: 20px;
  height: 25px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.uparrow {
  width: 20px;
  padding: 5px;
}

.downarrow {
  width: 20px;
  padding: 5px;
}

#post-column {
  width: 80%;
  align-content: center;
  justify-content: center;
}

.edit-posts {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  padding-top: 10px;
  height: 70px;
}

.remove-div {
  margin-right: 5px;
}

img {
  width: 800px;
}
